.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
}
.col-1{
    width: 50%;
}
.col-2{
    width: 50%;
    
}
.col-2 a button{
    margin-left: 70%;
    margin-top: 5%;
}

.row-2{
    
    background: #CACACA;
    border: 5px solid black;
    margin-left: 31%;
    margin-top: 14%;
    
    width: 30%;
    padding: 4%;
    padding-top: 0%
}
.col-3{
    padding-left: 20px;
    padding-bottom: 20px;
}
