{% extends "layout.html" %}
{% block body %}
   
    <div class="row mt-5">
                <div class="col-9">
                    <H1>YUMMY RECIPES</H1>
                </div>
                <div class="col-3">
                    <a href="logout"><button class="btn btn-primary" type="submit">LOG-OUT</button></a>
                </div>
    </div>
<div class="card " style="width: auto; margin-left:0%">
    <div class="card-header">
    <div class="row ">
        <div class="col-9">
        <h2>All Your categories</h2> 
        </div>
        <div class="col-2">
        <a href="/{{username}}/add_category"><button class="btn btn-dark btn-lg">Add Categories</button></a>
        </div>
        
    </div>
    </div>
        <div class="card-body">
                    
                        {%for item in food.keys()%}
                        <div class="row mt-3 mb-2">  
                            <div class="col-6">
                                <a href="/view_category_recipes/{{ item }}"><h2>{{ item }}</h2></a>
                            </div>
                        <div class="col-3">
                            <a href="/update_category/{{item}}"><button class="btn btn-dark btn-lg" >UPDATE</button></a>
                        </div>
                        <div class="col-3">
                            <a href="/delete_category/{{ item }}"><button class="btn btn-dark btn-lg" type="submit">DELETE</button></a>
                        </div>
                        </div>
                        {%endfor%}    
                
                    
            </div>
        
</div>
    
    
    
    
{% endblock %}


